body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin:20px;
}

ol, ul{
    padding-left: 30px;
}

.tablero-fila:after{
    clear:both;
    content: "";
    display: table;
}

.estado{
    margin-bottom: 10px;
}

.cuadrado{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.cuadrado:focus{
    outline: none;
}

.kbd-navegation .cuadrado:focus{
    background: #ddd;
}

.juego{
    display: flex;
    flex-direction: row;
}

.info{
    margin-left:20px;
}